name: Run Tests
on: [push, pull_request]

jobs:
  execute_build_runner:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: Update Flutter Packages
        run: flutter update-packages

      - name: Flutter Version
        run: flutter config --no-analytics; flutter --version

      - name: Pub Get
        run: (cd copy_with_extension_test && flutter pub get)

      - name: Build runner
        run: (cd copy_with_extension_test && flutter pub run build_runner build --delete-conflicting-outputs)

      - name: Analyze
        run: (cd copy_with_extension_test && flutter analyze)
  
  run_tests:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
          
      - name: Flutter Version
        run: flutter config --no-analytics; flutter --version

      - name: Pub Get
        run: (cd copy_with_extension_gen && dart pub get)

      - name: Run tests
        run: (cd copy_with_extension_gen && dart run test)
